<!-- Simple Data Binding -->
<h1>Hello, my name is {{myName}}.</h1>

<!-- For loops -->
<!-- <p>Todos:</p>
<ul>
	<li *For="#todo of todos" >
		{{todo}}
	</li>
</ul> -->

<!-- 2 way data binding -->
<!-- <input #new-todo (keyup)>
<span>New Todo Preview: {{newTodo.value}}</span>
<br><br> -->

<!-- Event binding -->
<!-- <button (click)="addTodo(newTodo)">Add Todo</button> -->

<!-- Conditional content -->
<!-- <div *if="todos.length > 3">
	<p>You have too much todo!</p>
	<button (click)="clearTodos()">Clear Todos</button>
</div> -->

<!-- Sub-component -->
<!-- <p>Sub-component:</p>
<sub-component></sub-component> -->